.user-role-date {
  clear: both;
  float: left;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 400px;
}
.user-role-date .user-role-checkbox {
  float: left;
  width: 100px;
}
.user-role-date .user-role-date-field {
  float: left;
  margin: 0 0 0 20px;
}
.user-role-header {
  clear: both;
  float: left;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 400px;
}
.user-role-header .user-role-header-roledate {
  float: left;
  font-weight: bold;
  margin: 0 0 0 20px;
}
.user-role-header .user-role-header-rolename {
  float: left;
  font-weight: bold;
  width: 100px;
}
